body {
    background: #444;
    user-select: none;
    font-family: Times, serif;
}

#gridArena {
    align-content: space-around;
    background: LightSlateGrey;
    border: 1px solid #444;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    height: 80vw;
    max-height: 90vh;
    width: 80vw;
    max-width: 90vh;
    margin: 0 auto;
}

.gridCell {
    background: LightGrey;
    border: 1px solid black;
    display: block;
    height: 25vw;
    max-height: 28vh;
    width: 25vw;
    max-width: 28vh;
    font-size: 10vw;
}

.gridCell p {
    text-align: center;
    margin: 0;
    line-height: 20vw;
    display: none;
}

.X {
    background: LightCoral;
}

.O {
    background: SkyBlue;
}

.titleBlock, .titleBlock h1 {
    color: LightGrey;
    text-align: center;
    font-size: 4vh;
    margin-top: -1vh;
}
